@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

:root {
  font-family: "Quicksand", sans-serif;
  --app-bg: #fff;
  --modal-before: #84000094;
  --main-font-color: #000;
  --light-font-color: #666;
  --main-border-color: #FFA099;
  --secondary-border-color: #FFA099;
  --button-bg-light: #f3f3f3;
  --cards-area-bg: #E3E3E3;
  --cards-bg: #fff;
  --buttons-color-primary: #d84851;
  --buttons-color-secondary: #f8e4e5;
  --filter-bg: #fff;
  --search-bg: #fff;
  --progress-line-befor: #e40000;
  
}

.dark:root {
  --app-bg: #0c0c0c;
  --main-font-color: #fff;
  --cards-area-bg: #3B3B3B;
  --cards-bg: #111317;
  --filter-bg: #111317;
  --search-bg: #20222a;
  --modal-before: #8400007a;
  --light-font-color : #becaca;
  --progress-line-befor: #ffd1da;
}
 

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffe2e2;
  border-radius: 25px;
  margin: 8px 0;
}

::-webkit-scrollbar-thumb {
  background: #d32424;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b51c1c;
}

::-webkit-scrollbar{
  width: 5px;
}  
 .p{
 color: var(--main-font-color);
 }

.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  margin-Left: 10px;
}
.title{margin: 1px;}

.title h2{
 padding: 31px 28px 5px;
 font-size: 32px;
 border-top: 1px solid #ccc;
 margin: 50px 17px 0;
 }
select {
  padding: 8px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  width:auto;
  font-weight: bold;
  background-color: var(--app-bg);
  color:  var(--buttons-color-primary);
}

.filter-buttons {
  display: flex;
}

.filter-btn {
  padding: 8px;
  margin-Right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selected-filter {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-Right: 10px;
}

.filter-btn.selected {
  background-color: var(--cards-area-bg);
  color: #333;
}


.nav-right-side {
  display: flex;
}

.mode-switch {
  flex-shrink: 0;
  padding: 0;
  background-color: var(--chat-background);
  border: none;
  color: #ddd;
  outline: none;
  cursor: pointer;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  transform-origin: center;
}
.mode-switch svg {
  width: 0;
  height: 24px;
  transition: all 0.3s ease-in;
  transform-origin: center;
}
.mode-switch .moon {
  opacity: 0;
}
.mode-switch .sun {
  width: 24px;
}

.dark .moon {
  opacity: 1;
  width: 24px;
}

.dark .sun {
  opacity: 0;
  width: 0;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Tajawal';
  background-color: var(--app-bg);
  transition: 0.2s;
}

a {
  text-decoration: none;
}



button, a {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation {
  padding: 20px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-font-color);
  line-height: 24px;
}

.navigation-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  max-width: 420px;
}

.nav-link {
  color: var(--light-font-color);
  font-weight: 500;
  display: flex;
  font-size: 14px;
  margin: 6px 13px;
  transition: 0.2s;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.nav-link.active {
  color: #fff;
  padding: 10px 22px;
  background-color :var(--buttons-color-primary);
  border-radius: 11px;
}
.nav-link:not(.active):hover {
  color: var(--buttons-color-primary);
}

.profile-btn {
  border: 1.5px solid var(--secondary-border-color);
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}
.dark .profile-btn {
  background-color: var(--cards-area-bg);
  border-color: var(--cards-area-bg);
}
.profile-btn:hover {
  border-color: var(--buttons-color-primary);
}
.profile-btn span {
  padding: 0 8px;
  font-weight: 500;
  color: var(--buttons-color-primary);
}
.profile-btn img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.app-actions {
  padding: 0px 50px 0 50px;
}

.btn-icon {
  width: 16px;
}

.search-wrapper {
  border: none;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  max-width: 420px;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.search-input {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-Right: none;
  border-Left: none;
  background-color: var(--search-bg);
  flex: 1;
  border: 1.5px solid var(--main-border-color);
  padding: 0 8px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.dark .search-input {
  border-color: var(--search-bg);
  color: #fff;
}

.loaction-btn {
  padding: 0;
  border: 1.5px solid var(--main-border-color);
  background-color: var(--button-bg-light);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark .loaction-btn {
  border: none;
  background-color: var(--search-bg);
}

.dark .loaction-btn .btn-icon {
  color: #fff;
}

.search-btn {
  background-color: var(--buttons-color-primary);
  color: #fff;
  border: 1.5px solid var(--buttons-color-primary);
  padding: 10px 16px;
  font-size: 14px;
}
.dark .search-btn {
  border: none;
}

.app-actions-line {
  display: flex;
  align-items: center;
  margin: 11px 0;
}

.contact-actions {
  display: flex;
  align-items: center;
  margin-Right: 32px;
}
.contact-actions span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-Left: 8px;
}
.dark .contact-actions span {
  color: #fff;
}
.contact-actions.socials .contact-link {
  color: #b9b9b9;
}

.contact-link {
  border: 1.5px solid var(--main-border-color);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--buttons-color-primary);
  margin: 0 4px;
  flex-shrink: 0;
}

.filter-btn {
  background-color: transparent;
  border: 1.5px solid var(--main-border-color);
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0;
  padding-Left: 8px;
  margin: 0 16px;
  color: var(--buttons-color-primary);
  position: relative;
}
.dark .filter-btn {
  border-color: var(--cards-area-bg);
  background-color: var(--cards-area-bg);
}
.filter-btn.more {
  padding: 0 12px;
}
.filter-btn.more span {
  color: var(--buttons-color-primary);
  padding: 0 4px;
}
.filter-btn.more span:before {
  display: none;
}
.filter-btn.more .filter-icon {
  background-color: transparent;
}

.filter-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 0 24px 0 8px;
  position: relative;
}
.filter-text:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.dark .filter-text:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-icon {
  background-color: var(--buttons-color-secondary);
  border-radius: 50%;
  color: var(--buttons-color-primary);
  width: 32px;
  height: 32px;
  display: flex;
  margin: 1px 4px;
  justify-content: center;
  align-items: center;
}

.filter-line-text {
  font-size: 14px;
  font-weight: 600;
  margin-Left: 32px;
  color: var(--main-font-color);
}

.app-main {
  flex: 1;
  overflow: hidden;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
}

.cards-area {
  background-color: var(--cards-area-bg);
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  min-height:70%;
  border-radius: 20px;
}

.app-main-left {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
}

.app-main-right {
  flex: 2;
  margin-Right: 24px;
  max-width: 400px;
}
.app-main-right .card-image-wrapper {
  max-height: 100%;
  padding: 0;
  height: 100%;
}
.app-main-right .card {
  height: 160px;
}
.app-main-right .card-image-wrapper img {
  margin: 0;
}

.card-wrapper-comment {
  width: 33.3%;
  height: auto;
  padding: 8px;
}

.card-wrapper {
  width: 33.3%;
  height: auto;
  padding: 8px;
}

.card-wrapper-best {
  width: 33.3%;
  height: auto;
  padding: 8px;
}

.card {
  background-color: var(--cards-bg);
  border: 3px solid var(--cards-bg);
  border-radius: 10px;
  overflow: hidden;
  display: block;
  transition: transform 0.2s;
  box-shadow: 0px 4px 13px #00008024 !important;

}
.card:hover {
  transform: scale(1.02);
}

.card-image-wrapper {
  max-height: 40%;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid var(--cards-bg);
  overflow: hidden;
  height: 0;
  padding-top: calc(591.44 / 1127.34 * 100%);
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}
.card-image-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: relative;
  z-index: 1;
  position: relative;
  margin-top: -60.25%;
}

.card-info {
  background-color: var(--cards-bg);
  padding: 8px 16px;
  max-height: 60px;
}

.card-text {
  line-height: 24px;
  
}
.card-text.big {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-font-color);
}
.card-text.small {
  font-size: 12px;
  color: var(--light-font-color);
  font-weight: 600;
}
.card-text.small span {
  font-size: 12px;
  color: var(--main-font-color);
  font-weight: 600;
  display: inline-block;
  margin-Right: 8px;
}
.des{
  font-size: 12px;
  color: #000;
  
}

.app-main-right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  color: var(--main-font-color);
  background-color: #e3e3e300;
}
.app-main-right-header span {
  font-size: 21px;
  line-height: 32px;
  font-weight: 600;
}
.app-main-right-header a {
  font-size: 14px;
  color: var(--buttons-color-primary);
  font-weight: 600;
}

.app-main-right {
  position: relative;
  padding-top: 0;
}
.app-main-right .card-wrapper-comment {
  width: 100%;
  padding: 8px 0;
}

.app-main-right .card-wrapper {
  width: 100%;
  padding: 8px 0;
}

.app-main-right .card-wrapper-best {
  width: 100%;
  padding: 8px 0;
}

.app-main-right .card {
  display: flex;
}
.app-main-right .card-image-wrapper {
  flex-basis: 40%;
  flex-shrink: 0;
}
.app-main-right .card-image-wrapper img {
  height: 100%;
}

.main-modal {
  width: 95%;
  max-width: 1200px;
  height: 95%;
  background: var(--app-bg);
  border-radius: 20px;
  position: relative;
  display: flex;
  padding: 22px;
  border: 1.8px solid #fff;
  box-shadow: 0px 4px 13px #00008024 !important;
}


.btn-close {
  border-radius:25px;
  border: none;
  background-color: #FF3A3A;
  position: absolute;
  Left: 4px;
  top: 4px;
  padding: 1px;
  color: #fff;
}

.hideModal {
  z-index: -1;
  opacity: 0;
  -webkit-animation: hide 0.25s;
          animation: hide 0.25s;
  transform: scale(0);
}

@-webkit-keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0;
  }
}
.showModal {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
  -webkit-animation: show 0.2s;
  animation: show 0.2s;
  transform: scale(1);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 22px;
  background-color: #84000094;
  backdrop-filter: blur(13px);
  width: 100%;
  height: 100%;
}

@-webkit-keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}
.modal-image-wrapper {
  border-radius: 20px;
  overflow: hidden;
  max-height: 50%;
}
.modal-image-wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-left {
  flex: 5;
  overflow-y: auto;
}

.modal-image-wrapper {
  margin-bottom: 24px;
}

.modal-info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-side h1 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-font-color);
}
.left-side p {
  color: var(--light-font-color);
  font-size: 16px;
  line-height: 24px;
}

.right-side {
  color: var(--main-font-color);
}
.right-side span {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.info-wrapper span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-font-color);
}

.info-bar {
  display: flex;
  justify-content: space-between;
}

.info-icon {
  background-color: var(--buttons-color-secondary);
  border-radius: 50%;
  color: var(--buttons-color-primary);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-Left: 12px;
  flex-shrink: 0;
}

.desc-wrapper .modal-info-header {
  margin-top: 24px;
  flex-direction: column;
}
.desc-wrapper h1 {
  font-size: 24px;
  margin: 0;
  line-height: 32px;
  color: var(--main-font-color);
}
.desc-wrapper p {
  color: var(--light-font-color);
}

.desc-actions {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.btn-book {
  background-color: var(--buttons-color-primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-Left: 32px;
  padding: 10px;
  font-size: 14px;
  min-width: 120px;
}

.add-favourite {
  display: flex;
  align-items: center;
}

.add-favourite input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.add-favourite input:checked + label {
  color: var(--buttons-color-primary);
}
.add-favourite input:checked + label .btn-icon {
  transition: 0.2s;
  color: var(--buttons-color-primary);
  fill: var(--buttons-color-primary);
}

.add-favourite label {
  cursor: pointer;
  color: var(--light-font-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.add-favourite label span {
  display: flex;
  margin-Left: 4px;
}

.modal-right {
  background-color: #d3d3d3c7;
  height: 100%;
  overflow-y: auto;
  border-radius: 20px;
  padding: 0 16px;
  flex: 3;
  max-width: 320px;
  margin-Right: 16px;
}
.modal-right .card-wrapper-comment {
  width: 100%;
  padding: 8px 0;
}

.modal-right .card-wrapper {
  width: 100%;
  padding: 8px 0;
}

.modal-right .card-wrapper-best {
  width: 100%;
  padding: 8px 0;
}

.modal-right .card > p {
  font-size: 12px;
  line-height: 16px;
  color: var(--light-font-color);
  margin: 0;
}
.modal-right .card {
  padding: 8px;
}
.modal-right .card:hover {
  transform: scale(1);
}
.modal-right .card .profile-info-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.modal-right .card .profile-info-wrapper {
  font-size: 12px;
  line-height: 16px;
  color: var(--main-font-color);
  margin: 0;
  font-weight: 600;
}

.profile-img-wrapper {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 8px;
  flex-shrink: 0;
  margin-Left: 12px;
}
.profile-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-actions-wrapper {
  display: flex;
}

.filter-action-buttons {
  display: flex;
  overflow-x: auto;
  position: relative;
}
.filter-action-buttons button {
  margin-bottom: 4px;
}

.filter-line {
  align-items: flex-start;
}

@media screen and (max-width: 1020px) {
  .app-main-left .card-wrapper {
    width: 50%;
  }

  .app-main-right-header span {
    font-size: 14px;
  }
}
@media screen and (max-width: 990px) {
  .app-main-Left {
    /*display: none;*/
  }
}
@media screen and (max-width: 780px) {
  .filter-line-text {
    margin-Left: 10px;
  }

  .filter-btn {
    margin: 0 8px;
  }

  .modal-left {
    flex-shrink: 0;
    flex-basis: auto;
  }

  .app-actions-line:not(.filter-line) {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-actions-line {
    margin: 16px 0;
  }

  .contact-actions-wrapper {
    margin-top: 12px;
  }
  .contact-actions-wrapper .contact-actions:first-child {
    margin-left: 0;
  }

  .app-main-left .card-wrapper {
    width: 100%;
  }

  .cards-area {
    padding: 0 8px;
  }

  .navigation {
    padding: 24px;
  }

  .app-main, .app-actions {
    padding: 24px;
  }

  section.app-actions {
    padding: 0 24px;
  }

  h1, .modal-left h1 {
    font-size: 16px;
    line-height: 24px;
  }

  .info-wrapper span {
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: 4px;
  }

  .main-modal {
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  #modal-window {
    padding: 0;
  }

  .modal-right {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 16px;
    overflow-y: visible;
  }

  .btn-close {
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 660px) {
  .navigation-links {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .app-container {
    overflow: auto;
  }

  .app-main {
    flex: unset;
  }

  .modal-right {
    flex: unset;
  }

  .card:hover {
    transform: scale(1);
  }

  section.app-main {
    overflow: visible;
  }

  .contact-actions span {
    display: none;
  }
}



.progress-bar {
  height: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  background-color: #dadff3;
  margin: 6px 0;
}

.progress {
  height: 100%;
  width: 40%;
  background-color: var(--buttons-color-secondary);
  border-radius: 50%;
  display: block;
}

.received-item-line {
  height: 150px;
  width: 100%;
  padding-top: 12px;
  display: flex;
  padding-left: 4px;
}


.progress-line {
  height: 100%;
  width: 2px;
  background-color:  var(--buttons-color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.progress-line:before, .progress-line:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:var(--progress-line-befor);
  border-radius: 50%;
  transform: translateX(-50%);
  left: 50%;
}
.progress-line:after {
  bottom: 0;
}

.time {
  margin-right: 12px;
  font-size: 14px;
  color: var(--light-font-color);
}

.received-items-content {
  padding: 15px 5px;
  border-radius: 12px 0 0 12px;
  background: var(--cards-bg);
}

.received-files {
  display: flex;
  height: 70%;
}
.received-files .image-wrapper {
  margin-left: 6px;
  display: flex;
}

.received-files-info {
  font-size: 14.2px;
  line-height: 16px;
  margin-left: 12px;
  margin-top: 12px;
  color: var(--main-font-color);
}
.received-files-info span {
  color: #d84851;
}



.right-area-header{
  padding: 0px 0;
  color: var(--main-font-color);
  font-size: 21px;
  line-height: 32px;
  font-weight: 600;
}

.right-area-header-wrapper a{
  padding: 1px 0;
  color: var(--buttons-color-primary);
  font-size: 14px;
  font-weight: 600; 
}

.right-area-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-area-header-wrapper .more-action {
  width: 24px;
  height: 24px;
}

.download-item-line {
  padding: 12px 0;
}

.line-header {
  font-size: 12px;
  line-height: 16px;
  color: #0298FF;
}


.image-wrapper {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  flex-basis: 48%;
  display: flex;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease-in;
}
.image-wrapper:hover img {
  transform: scale(1.125);
}

.image-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 16, 34, 0.8) 0%, rgba(240, 244, 253, 0.2) 90%);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.video-info-text {
  width: calc(100% - 40px);
}
.video-info-text p {
  margin: 0;
}

.video-name, .video-subtext {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video-name.medium, .video-subtext.medium {
  font-size: 14px;
  line-height: 24px;
}
.video-name.tiny, .video-subtext.tiny {
  font-size: 12px;
  line-height: 16px;
}

.video-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-subtext {
  opacity: 0;
}







