nav.nav
	a.nav__logo Nest
	ul.nav__links
		li.nav__item 
			a.nav__link Food
		li.nav__item 
			a.nav__link People
		li.nav__item 
			a.nav__link Travel
		li.nav__item 
			a.nav__link Experience
	
header.header(data-active="1")
	.header__left
		.number
			.slide(data-slide="1")
			.slide(data-slide="2")
			.slide(data-slide="3")
			.slide(data-slide="4")
		.title
			.slide(data-slide="1")
				.title__super Travel to
				.title__big 
					span T
					span a
					span n
					span z
					span a
					span n
					span i
					span a
			.slide(data-slide="2")
				.title__super Relax at
				.title__big 
					span L
					span a
					span k
					span.space e
					span B
					span i
					span w
					span a
			.slide(data-slide="3")
				.title__super Get Lost
				.title__big 
					span J
					span u
					span n
					span g
					span l
					span i
					span n
					span g
			.slide(data-slide="4")
				.title__super Explore the
				.title__big 
					span D
					span e
					span e
					span.space p
					span S
					span e
					span a
		.content
			.slide(data-slide="1")
				.content__blurb Low-cost flights and last minute internet deals means that cheap holidays are far easier to come by than they used to be.
				a.content__link Find 
					span Great Deals
			.slide(data-slide="2")
				.content__blurb The term “boutique hotel” has been widely used in recent years, but what does it mean and why should you stay in one?
				a.content__link Find 
					span a Tour
			.slide(data-slide="3")
				.content__blurb One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. 
				a.content__link Find 
					span a Route
			.slide(data-slide="4")
				.content__blurb The term “boutique hotel” has been widely used in recent years, but what does it mean and why should you stay in one?
				a.content__link Find 
					span a Guide

		
	.header__right
		.video
			.video__left
				.slide(data-slide="1")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swim.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swim.mp4")
				.slide(data-slide="2")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swan.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swan.mp4")
				.slide(data-slide="3")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jungle.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jungle.mp4")
				.slide(data-slide="4")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.mp4")
			.video__right
				.slide(data-slide="1")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swim.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swim.mp4")
				.slide(data-slide="2")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swan.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/swan.mp4")
				.slide(data-slide="3")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jungle.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jungle.mp4")
				.slide(data-slide="4")
					video.video__one(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.mp4")
					video.video__two(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/jelly.mp4")
		.controls
			.controls__prev
			.controls__indicator <span>1</span> / 4
			.controls__next
			
