
//SIZES
$base: 8px;
$reduced-base: 1vh;
$content-width: 86vw;

//FONTS
$serif: 'PT Serif', serif;
$sans: 'Poppins', sans-serif;

//PALETTE
$black: black;
$white: white;
$grey: #959595;
$blue: #0020D6;
$aqua: #00D9B1;
$sky: #00D0FF;
$violet: #D66CE2;
$orange: #F7CC20;

//ANIMATION
$t: 80ms;
$ease-in: cubic-bezier(0.895, 0.030, 0.685, 0.220); /* easeInQuart */
$ease-out: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
$ease-in-out: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

@mixin reduced{
	@media screen and (max-height: 800px){
		@content;
	}
}

@mixin variable-font-size($px){
	font-size: $px;
	@include reduced{
		font-size: $px/$base * $reduced-base;
	}
}

html{ 
	font-size: $base; 
	@include reduced{ font-size: $reduced-base }
}
body{ 
	@include variable-font-size(16px); 
	font-family: $serif; 
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	user-select: none;
	//cursor: none !important;
}

.slide{
	pointer-events: none;
	&.is-active{
		pointer-events: auto;
	}
}

.nav{
	width: $content-width;
	margin: auto;
	height: 10rem;
	font-family: $sans;
	line-height: 10rem;
	opacity: 0;
	transform: translatey(-2rem);
	&__logo{
		@include variable-font-size(20px);
		font-weight: 700;
	}
	&__links{
		list-style: none;
		@include variable-font-size(12px);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		float: right;
		margin: 0;
		padding: 0;
		margin-right: -4rem;
		cursor: pointer;
	}
	&__item{
		display: inline-block;
	}
	&__link{
		text-decoration: none;
		color: $grey;
		transition: color linear $t;
		padding: 4rem;
		&:hover{
			color: $black;
		}
	}
}

.header{
	width: $content-width;
	margin: auto;
	height: 82rem;
	display: flex;
	&__left{
		width: 420px;
		position: relative;
	}
	&__right{
		flex: 1;
		position: relative;
	}
}

.number{
	height: 15rem;
	width: 15rem;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 15rem;
	@include variable-font-size(50px);
	text-align: center;
	color: transparent;
	font-weight: 700;
	counter-reset: number;
	background: $aqua;
	transform: scaleY(0);
	transform-origin: bottom center;
	transition: background $t*2 $t linear, color $t*2 linear, transform $t*8 $t*2 $ease-in-out;
	.slide{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		&:before{
			content: '0';
		}
		&:after{
			counter-increment: number;
			content: counter(number);
			opacity: 0;
			position: relative;
			display: inline-block;
			transform: translatey(-2rem);
			transition: opacity $t*2 linear, transform $t*2 $ease-in;
		}
	}
}
.title{
	width: 72rem;
	height: 32rem;
	position: relative;
	margin-top: 15rem;
	z-index: 5;
	color: white;
	padding: 8rem 0;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		width: calc(76rem + 7vw);
		height: 100%;
		right: -4rem;
		background: $blue;
		z-index: -1;
		transform: scaleY(0);
		transform-origin: top center;
		transition: transform $t*8 $ease-in-out;
	}
	.slide{
		position: absolute;
	}
	&__super{
		@include variable-font-size(16px);
		letter-spacing: 0.3em;
		font-weight: 100;
		text-transform: uppercase;
		opacity: 0;
		transition: opacity $t*2 linear;
	}
	&__big{
		font-family: $sans;
		font-weight: 700;
		@include variable-font-size(100px);
		span{
			position: relative;
			display: inline-block;
			opacity: 0;
			transform: translatey(-2rem);
			transition: opacity $t linear, transform $t $ease-in;
			@for $i from 0 through 20 {
				&:nth-child(#{$i+1}) {
						transition-delay: ($t*$i/3);
				}
			};
			&.space{
				margin-right: 0.2em;
			}
		}
	}
}

.content{
	width: 40rem;
	margin-top: 6rem;
	height: 29rem;
	position: relative;
	opacity: 0;
	&__blurb{
		line-height: 1.5;
		position: absolute;
		opacity: 0;
		transition: opacity $t*2 linear;
	}
	&__link{
		line-height: 12rem;
		position: absolute;
		bottom: 0;
		@include variable-font-size(20px);
		font-family: $sans;
		font-weight: 700;
		padding-left: 6rem;
		cursor: pointer;
		opacity: 0;
		transition: color $t linear, opacity 1ms $t*2 steps(1);
		z-index: 1;
		span{
			position: relative;
			display: inline-block;
			opacity: 0;
			transform: translatey(-2rem);
			transition: opacity $t*2 linear, transform $t*2 $ease-in;
		}
		&:before, &:after{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translatey(-50%);
			height: 4rem;
			width: 4rem;
			border-radius: 4rem;
		}
		&:before{
			background: $aqua;
			transition: background $t*2 $t linear;
		}
		&:after{
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/arrow-right-white.png');
			background-size: 1rem auto;
			background-position: center;
			background-repeat: no-repeat;
			@keyframes drive{
				0%{ transform: translatey(-50%) translateX(0rem); animation-timing-function: $ease-in;}
				40%{ transform: translatey(-50%) translateX(2.5rem); animation-timing-function: steps(1);}
				60%{ transform: translatey(-50%) translateX(-2.5rem); animation-timing-function: $ease-out;}
				100%{ transform: translatey(-50%) translateX(0rem);}
			}
		}
		&:hover{
			&:after{
				animation: drive 7*$t;
			}
			color: $aqua;
		}
	}
	
}


.video{
	height: 100%;
	position: relative;
	&__left, &__right{
		position: absolute;
		height: 100%;
		width: calc(50% - 18px);
		overflow: hidden;
		video{
			position: absolute;
			width: auto;
			height: 100%;
		}
		.slide:after{
			content: '';
			position: absolute;
			top: 0%;
			left: 0;
			width: 100%;
			height: 150%;
			background: $white;
			z-index: 2;
		}
	}
	&__left{
		video{
			left: 100%;
			transform: translatey(-100%) translatex(-50%);			
			transition: transform $t*10 $ease-in-out;
		}
		.slide:after{
			transform: translateY(-100%);
		}
	}
	&__right{
		right: 0;
		video{
			right: 100%;
			transform: translatey(100%) translatex(50%);
			transition: transform $t*10 $ease-in-out;
		}
		.slide:after{
			transform: translateY(100%);
		}
	}
}

.controls{
	position: absolute;
	width: calc(50% - 18px);
	height: 12rem;
	bottom: 0;
	right: 0;
	background: white;
	text-align: center;
	z-index: 3;
	opacity: 0;
	&__next, &__prev, &__indicator{
		width: 12rem;
		height: 100%;
		display: inline-block;
		max-width: 30%;
	}
	&__next, &__prev{
		background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/908370/arrow-right-grey.png');
		background-size: 1rem auto;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: background $ease-out $t*2;
		opacity: 0.75;
		&:hover{
			background-position: 60% center;
		}
		&:active{
			transition: background $ease-out $t;
			background-position: 70% center;
		}
	}
	&__prev{
		transform: rotate(180deg);
	}
	&__indicator{
		font-family: $sans;
		color: $grey;
		@include variable-font-size(12px);
		font-weight: 500;
		line-height: 13rem;
		vertical-align: top;
		opacity: 0.65;
	}
}


//ACTIVE STATES
.is-loaded{

	.number .slide.is-active{
		&:after{
			opacity: 1;
			transform: translatey(0);
			transition: opacity $t*2 $t*2 linear, transform $t*4 $t*2 $ease-out;
		}
	}
	
	.number{
		
	}

	.number .slide.was-active:after{
		transform: translatey(2rem);
	}

	.title .slide.is-active .title{
		&__super{
			opacity: 1;
			transition: opacity $t*2 $t linear;
		}
		&__big{
			span{
				opacity: 1;
				transition: opacity $t*2 $t linear, transform $t*5 $ease-out;
				transform: translatey(0rem);
				@for $i from 0 through 20 {
					&:nth-child(#{$i+1}) {
							transition-delay: ($t*($i+1))/1.5;
					}
				};
			}
		}
	}

	.title .slide.was-active .title__big span{
		transform: translatey(2rem);
	}

	.content .slide.is-active .content{
		&__blurb{
			opacity: 1;
			transition: opacity $t*2 $t linear;
		}
		&__link{
			opacity: 1;
			transition: color $t linear, opacity 1ms $t*1 steps(1);
			z-index: 2;
			span{
				opacity: 1;
				transform: translatey(0);
				transition: opacity $t*2 $t*2 linear, transform $t*4 $t*2 $ease-out;
			}
		}
	}

	.content .slide.was-active .content__link span{
		transform: translatey(2rem);
	}

	.video__left video{
		transition: transform 1ms $t*7.5 steps(1);
	}
	
	.video__left .slide.is-active{
		&:after{
			transform: translatey(100%);
			transition: transform $t*15 ease-in-out;
		}
		video{
			transform: translatex(-50%);
			transition: transform $t*20 $t*2.5 $ease-out;
		}
	}
	
	.video__right video{
		transition: transform 1ms $t*5 steps(1);
	}
	
	.video__right .slide.is-active{
		&:after{
			transform: translatey(-100%);
			transition: transform $t*10 ease-in-out;
		}
		video{
			transform: translatex(50%);
			transition: transform $t*15 $t*5 $ease-out;
		}
	}

	[data-active="1"]{
		.number, .content__link:before{ background: $aqua; }
		.content__link:hover{ color: $aqua; }
	}
	[data-active="2"]{
		.number, .content__link:before{ background: $violet; }
		.content__link:hover{ color: $violet; }
	}
	[data-active="3"]{
		.number, .content__link:before{ background: $orange; }
		.content__link:hover{ color: $orange; }
	}
	[data-active="4"]{
		.number, .content__link:before{ background: $sky; }
		.content__link:hover{ color: $sky; }
	}


	.nav, .controls, .content{
		opacity: 1;
		transform: translatey(0);
		transition: opacity $t*2 $t*8 linear, transform $t*2 $t*8 $ease-out;
	}
	.number{
		color: $white;
		transform: scaleY(1);
		transition: background $t*2 $t linear, color $t*2 $t*5 linear, transform $t*8 $ease-in-out;
	}
	.title:before{
		transform: scaleY(1);
	}
}

.nav, .controls, .content{
	transition: opacity $t*2 $t*10 linear, transform $t*2 $t*10 $ease-in;
}

